# Dependências
/node_modules

# Build / saída
/dist
/tmp
/out-tsc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Angular cache
.angular/cache

# Arquivos de ambiente (opcional - cuidado!)
src/environments/*.ts

# Testes
/coverage

# Misc
.env